{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<div class="clearfix py-3">
    <div class="col-lg-8 col-md-7 col-sm-12 text-left">
      <p class="h2">Automate your workflow from idea to production</p>
      <p>PMP-Project management platorm help you to organize your projects, tasks.</p>
    </div>
  </div>

  <hr>

  <div class="d-flex flex-wrap">
    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="https://github.githubassets.com/images/modules/actions/actions-linux-and-containers.svg" alt="Operating systems and containers" height="45px">
      <h4 class="mb-2">Supports Linux, macOS, Windows, ARM, and other platforms</h4>
      <p class="color-text-secondary">All your data will be saved on cloud.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="https://github.githubassets.com/images/modules/actions/actions-matrix.svg" alt="Matrix builds" height="45px">
      <h4 class="mb-2">Matrix builds</h4>
      <p class="color-text-secondary">Save time with matrix workflows that simultaneously test across multiple operating systems and versions of your runtime.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="https://github.githubassets.com/images/modules/actions/actions-any-lang.svg" alt="Any language" height="45px">
      <h4 class="mb-2">Any language</h4>
      <p class="color-text-secondary">Supports English, Russian, Uzbek languages</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="https://github.githubassets.com/images/modules/actions/actions-live-logs.svg" alt="Live logs" height="45px">
      <h4 class="mb-2">Live logs</h4>
      <p class="color-text-secondary">Receive task notification simultaneously</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="https://github.githubassets.com/images/modules/actions/actions-secret-store.svg" alt="Secret store" height="45px">
      <h4 class="mb-2">Built-in secret store</h4>
      <p class="color-text-secondary">We will not share your personal data with any third parties.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="https://github.githubassets.com/images/modules/actions/actions-multi-container-testing.svg" alt="Multi-container testing" height="45px">
      <h4 class="mb-2">Online support</h4>
      <p class="color-text-secondary">24/7 online support available.</p>
    </div>
  </div>
{% endblock %}